*.o
Makefile
*.a
moc_*.cpp
test-app
svddw
svdpanel
svdss
svdnom
.DS_Store
/docs/*.aux
/docs/*.fdb_latexmk
/docs/*.fls
/docs/*.log
/docs/*.nav
/docs/*.out
/docs/*.pdf
/docs/*.snm
/docs/*.synctex.gz
/docs/*.toc
*.log
TheSS.xcodeproj/
releases/
/bin/panel
/bin/svdirc_notify
/bin/svddeployer
/bin/svdcoreginx_helper
.obj/*
/TheSS.sublime-project
/TheSS.sublime-workspace

/bin/svdnotify
