*.o
Makefile
*.a
svdss
moc_*.cpp
/test
/svddw
/svdpanel
.DS_Store
/docs/*.aux
/docs/*.fdb_latexmk
/docs/*.fls
/docs/*.log
/docs/*.nav
/docs/*.out
/docs/*.pdf
/docs/*.snm
/docs/*.synctex.gz
/docs/*.toc
